<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1> Express js </h1>
    <h3><%= "mern stack".toUpperCase() %></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci repellat possimus aperiam excepturi sed facilis deserunt natus autem reiciendis, culpa totam nostrum, eum dolores sequi nisi! Tempora iste hic odit.</p>
    <button >click</button>
</body>
</html>